/*Reseteo, Fondo De Imagen no repetitiva centrada, cubierta y fija*/
body{
	margin: 0;
	padding: 0;
	background-image: url("gettyimages-707444629-612x612.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

header{
	width: 100%;
	height: 70%;
}

/*Decoracion Del h1 General*/
h1{
	position: absolute;
	padding: 3px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	color: white;
}

span{
	color: pink;
}

.navbar-nav .nav-link {
  float: left;
}

/*Decoracion Nula De Hipervinculo*/
a{
	text-align: center;
	text-decoration: none !important;
}

/*Hover Del Hipervinculo*/
a:hover{
	color: white !important;
	transition: 0.5s !important;
}

/*Decoracion De Boton Principal*/
.boton{
  margin-top: 29%;
  margin-left: 35%;
  font-size: 1.6vw;
  border-radius: 4px;
  padding: 7px 13px;
  background-color: pink;
  border: 1px solid transparent;
  color: white;
  display: inline-block;
  flex: auto;
}

/*Estilos De Texto Principal*/
#dulce{
  margin-top: 20%;
  margin-left: 10%;
  background: linear-gradient(to right, white 20%, violet 100% ,white 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vw; 
  flex: auto;
}


/*Estilos De Iconos*/
.fa{
	font-size: 30px !important;
	color: black;
	float: right !important;
	margin-left: 30px;
}

/* Estilos Del Footer*/

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  margin-top: 30%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}






